* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 4%;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* #region TASK-1 */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#categories {
  max-width: 440px;
  margin: 0 auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}
.item h2 {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: 600;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
}

/* #endregion */
/* #region TASK-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
  column-gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery img {
  width: 360px;
  height: 300px;
}
/* #endregion */

/* #region TASK-3 */
input {
  width: 360px;
  height: 40px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

input:hover,
input:focus {
  border: 1px solid rgba(0, 0, 0, 1);
}

h1 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 32px;
}
/* #endregion */
/* #region TASK-4 */
.login-form {
  width: 408px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.login-form input {
  width: 360px;
  height: 40px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.login-form input:hover,
input:focus {
  border: 1px solid rgba(0, 0, 0, 1);
}

.login-form button {
  width: 86;
  height: 40;
  opacity: 1;
  border-radius: 8px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: none;
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.login-form button:hover,
button:focus {
  background-color: rgba(108, 140, 255, 1);
}

/* #endregion */

/* #region TASK-5 */
.change-color {
  width: 148;
  height: 40;
  opacity: 1;
  border-radius: 8px;
  gap: 10px;
  padding: 8px 16px;
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}
.change-color:hover,
.change-color:focus {
  background-color: rgba(108, 140, 255, 1);
}
/* #endregion */
